@use "../global/viewports.scss" as *;

.advantages {
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 80px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }

  text-align: center;
}

.advantages__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.advantages__list {
  margin: 0;
}
