@use "../global/viewports.scss" as *;
@use "../global/variables.scss" as *;

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 20px;
  color: $base-color;
  text-align: center;
  background-color: $special-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--special {
    color: $special-color;
    background-color: $base-color;
  }

  &--buy {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }

  &--apply {
    display: block;
    min-width: 280px;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      min-width: auto;
    }
  }

  &--reset {
    display: block;
    min-width: 280px;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      min-width: auto;
    }
  }

  &--cart {
    padding-left: 46px;
    text-decoration: none;
    background-image: url("../../img/background/buy.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px 16px;
  }

  &--pagination {
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
    text-decoration: none;
  }

  &--back {
    @media (min-width: $tablet-width) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &--next {
    @media (min-width: $tablet-width) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &:hover,
  &:focus {
    color: $base-color;
    background-color: $range-color;
  }

  &:active {
    color: $base-color;
    background-color: $special-color2;
  }

  &:disabled {
    color: $base-color;
    background-color: $additional-color;
  }
}

.button--reset:disabled {
  background-color: $disabled-color;
}

.butto--pagination:disabled {
  background-color: $disabled-color;
}
