@use "../global/viewports.scss" as *;
@use "../global/variables.scss" as *;

.catalog {
  padding: 50px 20px 44px;
  background-color: $additional-background;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.catalog__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__range-scale {
  position: relative;
  margin-bottom: 34px;
  width: 280px;
  height: 2px;
  background-color: $disabled-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
    width: 318px;
  }
}

.catalog__range-bar {
  position: absolute;
  width: 241px;
  height: 4px;
  background-color: $range-color;

  @media (min-width: $tablet-width) {
    width: 203px;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
  }
}

.catalog__range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $base-color;
  border: 2px solid $range-color;
  border-radius: 50%;
  cursor: pointer;

  &--min {
    top: -12px;
  }

  &--max {
    left: 236px;
    top: -12px;

    @media (min-width: $tablet-width) {
      left: 179px;
    }

    @media (min-width: $desktop-width) {
      left: 274px;
    }
  }

  &:hover,
  &:focus {
    background-color: rgb(215, 209, 233);
  }

  &:active {
    background-color: $special-color;
  }

  &:disabled {
    border: 2px solid $additional-color;
  }
}

.catalog__range-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }

  &::after {
    position: absolute;
    width: 9px;
    height: 2px;
    top: 50%;
    left: 136px;
    background-color: #bdbdbd;
    content: "";

    @media (min-width: $tablet-width) {
      left: 107px;
    }

    @media (min-width: $desktop-width) {
      left: 154px;
    }
  }
}

.catalog__range-input {
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid $range-color;

  &--min {
    margin-right: 44px;
    color: $additional-color;

    @media (min-width: $tablet-width) {
      margin-right: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &:focus {
    border: 2px solid $special-color2;
  }

  &:disabled {
    border: 2px solid $disabled-color;
  }
}

.catalog__filter {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.catalog__filter-control {
  position: relative;

  &--radio {
    padding-left: 37px;
  }

  &--checkbox {
    padding-left: 55px;
  }
}

.catalog__control-mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid $additional-color;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    width: 42px;
    border-radius: 12px;
    background-color: $additional-color;
  }
}

.catalog__filter-input {
  &--radio:checked + .catalog__control-mark {
    border: 2px solid $special-color;
  }

  &--radio:checked + .catalog__control-mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: $special-color;
    border-radius: 50%;
    content: "";
  }

  &--checkbox:checked + .catalog__control-mark {
    background-color: $special-color;
    border: 2px solid $special-color;
  }

  &--checkbox:disabled + .catalog__control-mark {
    background-color: $disabled-color;
    border: 2px solid $disabled-color;
  }

  &--checkbox + .catalog__control-mark::before {
    position: absolute;
    top: 0;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: $base-color;
    border-radius: 50%;
    content: "";
  }

  &--checkbox:checked + .catalog__control-mark::before {
    position: absolute;
    top: 0;
    left: 18px;
    width: 20px;
    height: 20px;
    background-color: $base-color;
    border-radius: 50%;
    content: "";
  }
}

.catalog__filter-input:disabled + .catalog__control-mark {
  border: 2px solid $disabled-color;
}

.catalog__filter-input:disabled ~ .catalog__control-label {
  color: $additional-color;
}

.catalog__products-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
    margin-bottom: 60px;
  }
}

.catalog__filter-wrapper {
  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.catalog__filter-group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;


  &--milk {
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;

    &--country {
      margin-bottom: 40px;
    }
  }
}

.catalog__filter-title {
  margin-bottom: 20px;

  &--price {
    margin-bottom: 30px;
  }
}

.catalog__filter-list {
  margin: 0;
}

.catalog__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.catalog__button {
  @media (min-width: $desktop-width) {
    width: calc(100%/2 - 10px);
  }
}

.catalog__button--apply {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__product-list {
  margin: 0;
}

.catalog__sorting {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
}

.catalog__sorting-label {
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.catalog__sorting-control {
  font-family: inherit;
  width: 145px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $special-color;
  background-color: transparent;
  background-image: url("../../img/background/down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  appearance: none;

  @media (min-width: $tablet-width) {
    width: 165px;
    padding-right: 30px;
    padding-left: 10px;
    background-position: right 10px center;
  }
}

.catalog__pagination {
  margin: 0;
}
