@use "../global/viewports.scss" as *;

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation__list {
  margin: 0;

  &--user {
    margin-left: auto;
  }

  &--site {
    margin-right: 50px;
  }
}

@media (max-width: $mobile-width-only) { // temporary
  .main-navigation__list {
    display: none;
  }
}

@media (min-width: $tablet-width) { // temporary
  .main-navigation__toggle {
    display: none;
  }
}
