@use "../global/viewports.scss" as *;

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.main-navigation__list {
  margin: 0;

  @media (max-width: $mobile-width-only) { // temporary
    display: none;
  }

  &--user {
    margin-left: auto;
  }

  &--site {
    margin-right: 60px;

    @media (min-width: $desktop-width) {
      margin-right: 162px;
    }
  }
}

@media (min-width: $tablet-width) { // temporary
  .main-navigation__toggle {
    display: none;
  }
}
