@use "../global/viewports.scss" as *;
@use "../global/variables.scss" as *;

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.main-navigation__list {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &--user {
    margin-left: auto;
  }

  &--site {
    margin-right: 67px;

    @media (min-width: $desktop-width) {
      margin-right: 162px;
    }
  }
}

.main-navigation__toggle {
  width: 60px;
  height: 60px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  background: url("../../img/background/burger.svg") no-repeat center top 21px / 16px 16px;
}

.main-navigation--opened .main-navigation__toggle {
  background: url("../../img/background/close.svg") no-repeat center top 20px / 16px 16px;
}
