@use "../global/viewports.scss" as *;
@use "../global/mixins.scss" as *;

.pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  @include reset-list;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}
