@use "../global/variables.scss" as *;
@use "../global/viewports.scss" as *;

.promo-card {
  padding: 20px 20px 60px;
  text-align: center;
  background-color: $promo-background;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    background-image: linear-gradient($promo-background 640px, $base-color 188px);
  }

  &--lavender {
    background-color: $promo-lavender-background;

    @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
      background-image: linear-gradient($promo-lavender-background 640px, $base-color 188px);
    }
  }

  &--espresso {
    background-color: $promo-espresso-background;

    @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
      background-image: linear-gradient($promo-espresso-background 640px, $base-color 188px);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 60px 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 80px 84px;
  }
}

.promo-card__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
    justify-content: space-between;
  }
}

.promo-card__image-wpapper {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    order: 2;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: calc(100%/2 - 15px);
  }
}

.promo-card__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 600px;
    height: 600px;
  }
}

.promo-card__text-wrapper {
  @media (min-width: $desktop-width) {
    width: calc(100%/2 - 15px);
    padding-top: 150px;
    text-align: left;
  }
}

.promo-card__title {
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo-card__subtitle {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo-card__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo-card__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    justify-content: start;
  }
}

.promo-card__price {
  margin: 0;
  margin-right: 20px;
}

.promo-card__price-old {
  margin-right: 6px;
  font-size: 16px;
  line-height: 32px;
  color: $special-color;
  text-decoration: line-through;
}

.promo-card__price-new {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
