@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;
}

@media (max-width: $mobile-width-only) { //temporary
  .site-navigation {
    display: none;
  }
}
