@use "../global/mixins.scss" as *;
@use "../global/viewports.scss" as *;

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.24px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .site-navigation {
    display: none;
  }
}
