@use "../global/viewports.scss" as *;
@use "../global/variables.scss" as *;

.slider {
  position: relative;
}

.slider__button {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &--next {
    right: 0;
  }
}

.slider__pagination {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 0 auto;
  padding: 0;
  bottom: 97px;
  list-style-type: none;

  @media (max-width: ($desktop-width - 1)) {
    display: none;
  }
}

.slider__pagination-button {

  width: 62px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  background-image: linear-gradient(transparent 20px, $base-color 4px);
  cursor: pointer;

  &--current {
    background-image: linear-gradient(transparent 20px, $special-color 4px);
  }

  &:hover,
  &:focus {
    background-color: transparent;
    background-image: linear-gradient(transparent 20px, rgb(120, 89, 207, 0.25) 4px);
  }

  &:active {
    background-color: transparent;
    background-image: linear-gradient(transparent 20px, $special-color 4px);
  }
}

.slider__icon-back {
  fill: $special-color;

  &:hover,
  &:focus {
    fill: $special-color;
  }
}

.slider__icon-next {
  fill: $special-color;
}

.slider__button:hover .slider__icon-back,
.slider__button:focus .slider__icon-back {
  fill: $special-color;
}

.slider__button:hover .slider__icon-next,
.slider__button:focus .slider__icon-next {
  fill: $special-color;
}

.slider__button--previous:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__button--next:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
}

.slider__button--disabled .slider__icon-next {
  fill: $additional-color;
}

.slider__button--disabled .slider__icon-back {
  fill: $additional-color;
}

.slider__button:disabled .slider__icon-next {
  fill: $additional-color;
}

.slider__button:disabled .slider__icon-back {
  fill: $additional-color;
}
