@use "../global/viewports.scss" as *;
@use "../global/mixins.scss" as *;

.user-list {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.user-list__text {
  @media (max-width: ($desktop-width - 1)) {
    display: none;
  }
}

.user-list__icon {
  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}
