$main-text-color: #333333;
$special-color: #7859cf;
$promo-background: #f3ebe1;
$promo-lavender-background: #eae6fc;
$promo-espresso-background: #e5e6e8;
$base-color: #ffffff;
$additional-background: #f8f8f8;
$additional-color: #bdbdbd;
$disabled-color: #e2e2e2;
